{% extends "includes/bases.html" %}
{% load static %}


{% block content %}
<h1>Aréa de Restríta</h1>
<a  class="btn btn-light" href="/create/" >Cadastro de clientes</a>
<br>
<a class="btn btn-light"  style="margin-top: 7px"  href="{% url 'supplier:SuppliersListView' %}">Fornecedores</a>
<a class="btn btn-dark"  style="margin-top: 7px"   href="{% url 'supplier:iA_ZanasK' %}">Gráfico</a>

<br>
<a class="btn btn-secondary" style="margin-top: 7px" href="/painel/">Login de usuário</a>
<a class="btn btn-dark"  style="margin-top: 7px"   href="{% url 'app:logout' %}">Sair</a>
<hr>
<a href="/dashboard/password/">Trocar de senha.</a>
<button type="submit" class="btn">Salvar</button>
<a href="/suppliers/create/">fornecedore por cep</a>

<body>
{% if perms.auth %}
    <p>Estes serviços estão disponíveis para você.</p>
    {% if perms.foo.add_vote %}
        <p>Estudos das permissoes esta e uma permissao consedida E adicionar vodos  </p>
    {% endif %}
    {% if perms.auth.can_edit_users %}
        <p>Esta seria ṕermição para Editar User</p>
        <form>
          <div class="row date-range">
            <div class="col-lg-3">
              <label for="example1" class="sr-only">Data</label>
              <div class="input-group datepicker">
                <input type="text" class="form-control date-mask from-date" placeholder="dd/mm/aaaa">
              </div>
            </div>
            <div class="col-lg-3">
              <label for="example1" class="sr-only">Data</label>
              <div class="input-group datepicker">
                <input type="text" class="form-control date-mask to-date" placeholder="dd/mm/aaaa">
              </div>
            </div>
          </div>
        </form>
    {% endif %}
{% else %}
    <p>Esse Ùsuario não tem permissão para escolher serviços ainda </p>
{% endif %}

</body>



{% endblock content %}

{% block js %}

<script>
 $(document).ready(function(){
    $('#id_cep').focus();
    //alert('em activid')
  })
</script>

{% endblock js %}

