<!-- person_form_as_p.html -->
{% extends "includes/base.html" %}

{% block css %}
  <style>
    .required:after {
      content: "*";
      color: red;
    }
    .errorlist {
      list-style: none;
      color: red;
    }
  </style>
{% endblock css %}

{% block content %}
  <h1>Formulário form.as_p</h1>
  <div class="cols-6">

    <form class="form-horizontal" action="." method="POST">
      {% csrf_token %}

        <div class="col-sm-6">

          {{ form.as_p }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

      </div>
    </form>
  </div>
{% endblock content %}