<!-- person_form_as_p.html -->
{% extends "includes/base_supplier.html" %}
{% load static %}

{% block css %}
  <style>
    .required:after {
      content: "*";
      color: red;
    }
    .errorlist {
      list-style: none;
      color: red;
    }
  </style>
{% endblock css %}

{% block content %}
  <h1>Formulário form.as_p</h1>
  <div class="cols-6">


    <form id="trunkModal" class="form-horizontal" style="display: none; "action="." method="POST">
      {% csrf_token %}
     

        <div class="col-sm-6">
         
  
          {{ form.as_p }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

      </div>
    </form>
 
     
  </div>
  </div>
</div>

{% include "./modal_cep.html" %}

{% endblock content %}


{% block js %}
<script>
 function cleanAddress(){
    document.getElementById("id_address").value="";
     document.getElementById("id_district").value=""; 
      document.getElementById("id_city").value="";
       document.getElementById("id_uf").value="";       
  
 }

  function includElement(){
   let at_class=document.querySelector(".col-sm-6");
   let cont_item=at_class.querySelectorAll("p");
   if(cont_item.length >=16){
    let includeELE=document.createElement("button");
    includeELE.textContent ="CEP";
    includeELE.className ="btn btn-warning";
    includeELE.onclick =function(){
      openModal();
    };


    at_class.insertBefore(includeELE,cont_item[16]);
   }
  }

   function openModal(){ 
    let modal= document.getElementById("myModal");
    let trunkform= document.getElementById("trunkModal");
    modal.style.display="block";
    trunkform.style.display="none";
  }

  function hideModal(){    
    let modal= document.getElementById("myModal");
    let trunkform= document.getElementById("trunkModal");
    modal.style.display="none";
    trunkform.style.display="block";
  }

  function sendModal(){ 
    let val_digit=$('#cep').val();
    let modal= document.getElementById("myModal");
    let trunkform= document.getElementById("trunkModal");
    $('#id_cep').val(val_digit);
    modal.style.display="none";
    trunkform.style.display="block";
  }

  //incluir o botao cep 
  // cleanAddress() usar quando necessário!


  



  $(document).ready(function(){
    includElement();
    let botaoCep=$("<button>CEP</button>");
    botaoCep.attr("id","btnLocCep");
    botaoCep.addClass("btn btn-warning")
  })
    $(document).on('keydown', function(event) {
      if (event.key =="Escape"){
        hideModal();
       $('#id_nome').focus();
     

      }
    console.log(event.KeyCode);
    })

   $('#cep').on('keypress', function(event) {
    
    let keyCode = event.which || event.KeyCode;
    //console.log("tecla"+ event.which);
    if (keyCode === 13){
    
      let cep = $('#cep').val();
      let qtdeDeDigitosCep=cep.length
      if (qtdeDeDigitosCep < 9 && qtdeDeDigitosCep == 8) {
        cep = cep.slice(0,5)+ "-" + cep.slice(5);
        console.log("novo cep"+ cep);
      } else {
       $('#btnOk').focus();

      }
      

      $('#cep').val(cep)
       event.preventDefault();
    }

    if (keyCode === 44){
      event.preventDefault();
        $('#cep').val('');
        $('#cep').attr('placeholder','...insira o cep.');

    } 

    if (event.keyCode === 27){
      event.preventDefault();
      hideModal();

    } 
  
   
  });   
  
  $('#id_cep').on("click",function(){
    openModal(); 

  })

  $('#btnCloseModal').on("click", function(event) {

     event.preventDefault();
    hideModal();
  })

  $('#cep').change(function(){
    let url = "//localhost:8000/address/filter_cep/?cep="+$('#cep').val()
    let postData = $('form').serialize();
    let myurl=window.location.href
    let dismiss=$(this).data('dismiss')
    

    $.ajax({
      url: url,
      type: 'GET',
      dataType:'json',
      success: function(response) {
          if (response){
           addItem(response);
          }else{
            cleanAddress()

          }
       

      },
      error: function(xhr) {
       console.log(error)
        cleanAddress()
      },
      complete: function() {
        loadingSpiner()
      }
    
    });
    e.preventDefault();
    $('#btnOk').focus();
  });

  function addItem(response) {
        $('#id_address').val(response.data[0]);
        $('#id_district').val(response.data[1]);
        $('#id_city').val(response.data[2]);
        $('#id_uf').val(response.data[3]);
   
    const template = '<tr>' +
    '<td>' + response.data[0]+ ' ' + response.data[1] + '</td>' +
    '<td>' + response.data[2]+ ''+response.data[3]+'</td>' +
    '</tr>'

    $('.information').append(template)
    
  };

    function closeModal() {
    $('#myModal').modal('hide');
    // Limpa os campos
 
  }

    function loadingSpiner() {   
    const template = 
        '<div class="spinner" style="display:block; border: 20px solid rgb(227 12 12 / 10%);'+
    'border-top-color: #4b9eb1;; margin: auto; animation: spin 7s linear infinite;'+
    '"> </div>'
     $('.information').append(template)
    };
  
    $('#closemodal').on("click", function(){
      closeModal();
    });



</script>

{% endblock js %}
